
body {
    background-color: aqua;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-family: fantasy;
    position: relative;
}
ul {
    background-color: black;
    padding: 20px;
}
#a1:hover {
    background-color: rgb(253, 255, 255);
    color: black;
    font-size: 20px;
    font-family: fantasy;
    border-radius: 22px;
    box-shadow: 6px 5px 9px aqua;
}
#a2:hover {
    background-color: rgb(253, 255, 255);
    color: black;
    font-size: 20px;
    font-family: fantasy;
    border-radius: 22px;
    box-shadow: 6px 5px 9px aqua;
}
#a3:hover {
    background-color: rgb(253, 255, 255);
    color: black;
    font-size: 20px;
    font-family: fantasy;
    border-radius: 22px;
    box-shadow: 6px 5px 9px aqua;
}
#a4:hover {
    background-color: rgb(253, 255, 255);
    color: black;
    font-size: 20px;
    font-family: fantasy;
    border-radius: 22px;
    box-shadow: 6px 5px 9px aqua;
}
#a5:hover {
    background-color: rgb(253, 255, 255);
    color: black;
    font-size: 20px;
    font-family: fantasy;
    border-radius: 22px;
    box-shadow: 6px 5px 9px aqua;
}
